body{
    background-image: url("https://img.freepik.com/free-vector/abstract-black-texture-background-hexagon_206725-413.jpg?w=900&t=st=1718297182~exp=1718297782~hmac=d8047869e5268abc28e3aefbc7b3185b74f041c9c593c2646eefe2812b0b6be9");
    width: 500px;
    height: 500px;
}